.ItemOptBar-container {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  border-top: 1px solid #DDD;
  background-color: white;
}

.ItemOptBar-commentButton {
  display: flex;
  flex: 2;
  align-items: center;
  border-radius: 64px;
  padding: 0.15rem;
  background-color: #DDD;
  margin: 0.15rem;
  color: #888;
}

.ItemOptBar-optButton {
  display: flex;
  flex: 1;
  align-items: center;
}

.ItemOptBar-optButton span:first-child {
  font-size: 0.45rem;
}
