
.ItemComment-commentitem-origin {
  display: flex;
  margin-bottom: 0.2rem;
}

.ItemComment-commentitem-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ItemComment-username {
  color: #AAA;
  font-size: 0.15rem;
  margin-bottom: 0.1rem;
}

.ItemComment-content {
  font-size: 0.2rem;
}

.ItemComment-commentitem-replyitem {
  margin-left: 0.8rem;
  display: flex;
  margin-bottom: 0.2rem;
}