.MasonryContainer {
  width: 100vw;
  display: flex;
  padding: 0.5em;
  overflow: scroll;
}

.MasonryContainer > div:first-child {
  margin-right: 0.15rem;
}

.MasonryContainer > div {
  display: block;
  width: calc(50vw - 0.075rem);
}
