.MasonryItem-container {
  position: relative;
  width: 100%;
  border-radius: .1rem;
  box-shadow: 0 0.05rem 0.08rem 0 rgba(0,0,0,.1);
  overflow: hidden;
  break-inside: avoid;
  margin-bottom: 0.15rem;
}

.MasonryItem-container .item-thumbnail img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.MasonryItem-container .item-title {
  color: rgb(51, 51, 51);
  font-size: .26rem;
  line-height: 150%;
  min-height: .6rem;
  line-clamp: 2;
  box-orient: vertical;
  display: box;
  padding: .2rem .2rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MasonryItem-container .item-info {
  padding: .2rem;
  line-height: .5rem;
  overflow: hidden;
  display: block;
  position: relative;
}

.MasonryItem-container .item-info .item-author {
  display: inline-block;
  box-sizing: border-box;
}

.MasonryItem-container .item-info .item-author .item-avatar {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
}

.MasonryItem-container .item-info .item-author .item-name {
  display: inline-block;
  margin-left: 0.1rem;
}

.MasonryItem-container .item-info .item-like {
  position: absolute;
  right: .2rem;
  color: #666;
  display: inline;
}
